.idea/
node_modules/
venv.keep/
todo~

*.pyc

.bowerrc~

app/static/header/signin.css

app/static/main.css

*.swo

*.swp

*.swp

*.txt~

app/static/header/header.css

app/static/snippetbar/snippetbar.css
