.idea/
node_modules/
search.db/
db_repository/
app.db
venv/
venv.keep/
venvv/
build/
codemirror.orig/
angular-ui-codemirror/
todo~
*.pyc

.bowerrc~
app/static/header/signin.css

app/static/main.css

*.swo

*.swp

*.swp

*.txt~

app/static/header/header.css

app/static/snippetbar/snippetbar.css

app/static/signedout/signedout.css

app/static/signin.css

app/static/user/user.css

app/static/components/header/header.css

app/static/components/header/signin.css

app/static/signedout/snippets.css

app/static/components/snippetbar/snippetbar.css

npm-debug.log

app/static/components/snippets/snippets.css

layout-test/app/static/main.css

app/static/variables.css

*.css

app/static/components/topicpanel/topicpanel.css

bower.json~

gulpfile.js-keep

bower.json2

somecodelog

*.js~

app/static/bower_components/textarea-autosize/dist/jquery.textarea_autosize.js~

bower.json.orig

todo.keep

app/static/main.less.keep

*.keep

db_repository/manage.py

app.db
