/* Less variables */
body {
  padding-top: 50px;
}
/*
 * Header styles
 */
.navbar {
  z-index: 6000;
}
.navbar .navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-nav li a#settings {
  padding: 0 15px;
  padding-top: 13px;
}
.navbar-brand {
  font-weight: bold;
  padding-right: 0;
}
#snippetSearchForm {
  position: absolute;
  margin-top: 8px;
}
@media (max-width: 767px) {
  #snippetSearchForm {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  #snippetSearchForm {
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    /* Chrome, Safari, Opera */
    -ms-transform: translate(-50%, 0);
    /* IE 9 */
    transform: translate(-50%, 0);
    /* Chrome */
  }
}
#snippetSearchContainer {
  background-color: #fff;
  border-radius: 17px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#snippetSearchContainer.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#snippetSearchField {
  display: inline;
  min-width: 150px;
}
@media (min-width: 768px) {
  #snippetSearchField {
    width: auto;
  }
}
#snippetSearchField.reset {
  border: none;
  background: none;
  background-color: transparent;
  box-shadow: none;
  transition: none;
}
#snippetSearchField::-webkit-input-placeholder {
  font-size: 0.85em;
  padding-top: 2px;
}
#snippetSearchContainer span {
  cursor: pointer;
}
span#personalSnippetCounter {
  color: #5e5e5e;
  background-color: #e3e3bb;
}
span#personalSnippetCounter.selected {
  border: 1px solid #5e5e5e;
}
span#publicSnippetCounter {
  margin-right: 8px;
  color: #5e5e5e;
  background-color: #fbcb9c;
}
span#publicSnippetCounter.selected {
  border: 1px solid #5e5e5e;
}
#username,
#signin,
#signout {
  padding-right: 0;
}
.modal-backdrop {
  z-index: 7100;
}
.modal.signinModal {
  z-index: 7110;
}
.modal-dialog {
  width: 270px;
}
.modal-content {
  padding: 1em;
}
.modal-content h2 {
  margin-top: 0;
}
.signinButton {
  position: relative;
  height: 50px;
  margin-top: 8px;
  border-radius: 4px;
  border: none;
}
.signinButton i,
.signinButton p {
  float: left;
  line-height: 50px;
  color: #fff;
}
.signinButton i {
  font-size: 2.5em;
  padding-left: 15px;
}
.signinButton p {
  margin: 0 !important;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 1.1em;
  font-size: 1.2em;
}
.signinButton.facebookButton {
  background-color: #3da1d4 !important;
}
.signinButton.facebookButton:hover {
  background-color: #2b8fc2 !important;
}
.signinButton.twitterButton {
  background-color: #67acdc !important;
}
.signinButton.twitterButton:hover {
  background-color: #4a9cd5 !important;
}
.signinButton.googleButton {
  background-color: #dd4b39 !important;
}
.signinButton.googleButton:hover {
  background-color: #c63422 !important;
}
.glyphicon {
  font-size: 1.5em;
}
#snippetBlock {
  display: table;
  padding: 0 15px;
  width: 100%;
}
#topicPanel {
  display: table-cell;
  margin-top: 10px;
  width: 25%;
  height: 200px;
  border: 1px solid black;
}
/*
 * Snippet Panel
 */
#snippetPanel {
  display: table-cell;
  vertical-align: top;
  padding-left: 10px;
  border: 1px solid red;
}
/*
 * SnippetBar styles
 */
/*
 * Snippet Bar
 */
#snippetBar {
  position: relative;
  margin-top: 0;
  height: 50px;
}
#snippetBar a {
  background-color: #fff;
}
#snippetBar a span:hover {
  color: #737373;
}
#leftSnippetBar {
  position: absolute;
  left: 0;
}
#toggleIcon a {
  padding-left: 0;
  margin-left: -10px;
  z-index: 5100;
}
#toggleIcon span.fa-align-justify {
  text-align: left;
}
#snippetAdd span.selected {
  color: #5cb85c;
}
#snippetAdd span.selected:hover {
  color: #5cb85c;
}
#rightSnippetBar {
  position: absolute;
  right: 0;
}
#rightSnippetBar li a {
  padding-left: 0;
}
#rightSnippetBar li#snippetColIcon,
#rightSnippetBar li#snippetRowIcon,
#rightSnippetBar li#snippetTitleOnlyIcon {
  z-index: 5100;
}
#rightSnippetBar li a span {
  color: #999999;
}
#rightSnippetBar li#snippetColIcon a span {
  margin-top: -2px;
}
#rightSnippetBar li a span.active {
  color: #000000;
}
#rightSnippetBar li a span i {
  color: inherit;
}
#snippetTopicSearchDisplay {
  margin: 16px 0;
}
/*
 * Snippet styles
 */
#snippetContainer {
  padding-right: 0;
}
.snippet {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 5px;
  overflow: hidden;
}
.snippetSelector {
  position: relative;
  float: left;
  min-width: 30px;
  z-index: 600;
}
.snippetSelector .glyphicon {
  color: #999999;
}
.snippetContent {
  position: relative;
  float: left;
  width: 97%;
  border-radius: 10px;
  margin-left: -15px;
  margin-right: -15px;
}
.snippetPopup {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 15px;
  margin-right: 50px;
  z-index: 700;
  border-radius: 6px;
  background: rgba(245, 245, 245, 0.3);
}
.snippetPopup div.layout {
  float: left;
  margin-left: 5px;
  background-color: #fff !important;
  vertical-align: center;
  cursor: pointer;
}
.snippetPopup button.layout.snip-it {
  float: left;
  color: #fff;
  font-family: cursive;
  font-size: 14px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.snippetPopup .layout span {
  vertical-align: center;
  color: #737373;
}
.snippetPopup .layout.snippetColLayout span {
  margin-top: -2px;
  margin-left: 10px;
}
.snippetPopup .layout.snippetEdit span {
  margin-left: 10px;
}
.snippetPopup .layout.snippetDelete span {
  margin-top: -2px;
  margin-left: 10px;
}
.snippetPopup .layout.snippetColLayout span.active,
.snippetPopup .layout.snippetRowLayout span.active,
.snippetPopup .layout.snippetTitleOnlyLayout span.active {
  color: #000000;
}
.snippetPopup div.layout span:hover {
  color: #000000;
}
.snippetPopup .snippetDelete {
  margin-left: 10px;
}
#snippetForm .snippetContent {
  z-index: 5100;
}
#snippetFormBar {
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
  height: 34px;
  margin-bottom: 2px;
}
#snippetForm .snippetSelector {
  padding: 5px;
}
#snippetSave,
#snippetCancel,
#snippetAccess {
  float: right;
  width: 46px;
  height: 24px;
  margin-top: 5px;
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 11px;
}
#snippetAccess {
  margin-right: 10px;
  font-size: 14px;
  color: #999999;
  background-color: #fff;
}
#snippetAccess:hover {
  color: #828282;
}
#snippetAccess:focus {
  outline: 0;
}
#snippetCancel {
  margin-right: 10px;
  background-color: #d9534f;
}
#snippetCancel:hover {
  background-color: #ce312c;
}
#snippetSave {
  background-color: #5cb85c;
}
#snippetSave:hover {
  background-color: #46a046;
}
#snippetForm .CodeMirror {
  height: auto;
  min-height: 30px;
  max-height: 400px;
  margin: 5px 0;
  border-radius: 4px;
  border: 1px solid #cccccc;
}
#snippetForm .CodeMirror.CodeMirror-focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#snippetForm .snippetDes-col .CodeMirror,
#snippetForm .snippetDes-row .CodeMirror {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
}
#snippetForm .snippetCode-col .CodeMirror,
#snippetForm .snippetCode-row .CodeMirror {
  background-color: #e3e3bb;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: x-small;
}
#snippetForm .CodeMirror-scroll {
  height: auto;
  overflow-x: auto;
}
#snippetForm .CodeMirror-scroll [contentEditable=true]:empty:not(:focus):before {
  content: attr(data-ph);
}
.snippetTitle {
  position: relative;
  float: left;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.snippetTitle h5 {
  font-weight: bold;
  margin: 5px 0;
}
#titleDiv {
  position: relative;
}
#titleField {
  position: absolute;
  left: 0;
  font-weight: bold;
  font-size: 14px;
  font-family: inherit;
}
#formContent.snippetTextAreas {
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 34px;
}
#formContent.snippetTextAreas textarea {
  margin: 5px 0;
}
.snippetDesText {
  padding: 5px 0;
}
.snippetDesStyle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
  margin-bottom: 0;
  background-color: white;
  line-height: 1;
}
.snippetDesStyle li {
  list-style-type: disc;
}
.snippetDesStyle pre {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 1;
  overflow: hidden;
}
textarea.snippetDesStyle {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: small;
}
.snippetDes-col {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-right: 5px;
}
@media (min-width: 768px) {
  .snippetDes-col {
    float: left;
    width: 50%;
  }
}
.snippetDesText.snippetDes-col {
  padding-left: 0;
}
.snippetDes-col ul {
  padding-left: 18px;
}
.snippetDes-row {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .snippetDes-row {
    float: left;
    width: 100%;
  }
}
.snippetDesText.snippetDes-row {
  padding-left: 0;
}
.snippetDes-row ul {
  padding-left: 18px;
}
.snippetCodeText {
  padding: 5px 0;
  border-radius: 4px;
  line-height: 1;
}
.snippetCodeStyle {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  font-size: x-small;
}
.snippetCodeText.snippetCodeStyle:empty {
  background-color: #fff;
  padding: 0;
}
.snippetCodeStyle.owned {
  background-color: #e3e3bb;
}
.snippetCodeStyle.owned pre {
  font-size: x-small;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 1;
  overflow: hidden;
}
.snippetCodeStyle.notOwned {
  background-color: #fbcb9c;
}
.snippetCodeStyle.notOwned pre {
  font-size: x-small;
  background-color: transparent;
  padding: 0;
  margin: 0;
  border: none;
  line-height: 1;
  overflow: hidden;
}
.snippetCode-col {
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 5px;
  position: relative;
}
@media (min-width: 768px) {
  .snippetCode-col {
    float: left;
    width: 50%;
  }
}
.snippetCode-row {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .snippetCode-row {
    float: left;
    width: 100%;
  }
}
.snippetCodeText.snippetCode-row {
  padding-left: 5px;
}
