@import "variables.less";

body {
    padding-top: 50px;
}

/*
 * Header styles
 */
@import "components/header/header.less";

.glyphicon {
    font-size:1.5em;
}

#snippetBlock {
    padding-left:15px;
    width:100%;
}

/*
 * SnippetBar styles
 */
@import "components/snippetbar/snippetbar.less";

/*
 * TopicPanel styles
 */
@import "components/topicpanel/topicpanel.less";

/*
 * Snippet styles
 */
@import "components/snippetpanel/snippetpanel.less";

.fa {
    color:@icon-color;
}
