//@import "variables.less";

body {
    padding-top: 50px;
}

/*
 * Header styles
 */
@import "components/header/header.less";

.glyphicon {
    font-size:1.5em;
}

#snippetBlock {
    margin:0 15px;
}

/*
 * Snippet Panel
 */
#snippetPanel {
    float: left;
    vertical-align: top;
}
#snippetPanel.loggedin {
    width:@default-rightpanel-width-narrow;
}
#snippetPanel.loggedout {
//    width:@default-rightpanel-width-wide;
}

/*
 * SnippetBar styles
 */
@import "components/snippetbar/snippetbar.less";

/*
 * Snippet styles
 */
@import "components/snippets/snippets.less";
