/* Less variables */
.navbar {
  z-index: 6000;
}
.navbar .navbar-collapse {
  padding-left: 15px;
  padding-right: 15px;
}
.navbar-nav li a#settings {
  padding: 0 15px;
  padding-top: 13px;
}
.navbar-brand {
  font-weight: bold;
  padding-right: 0;
}
#snippetSearchForm {
  position: absolute;
  margin-top: 8px;
}
@media (max-width: 767px) {
  #snippetSearchForm {
    padding-left: 15px;
  }
}
@media (min-width: 768px) {
  #snippetSearchForm {
    left: 50%;
    transform: translate(-50%, 0);
  }
}
#snippetSearchContainer {
  background-color: #fff;
  border-radius: 17px;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#snippetSearchContainer.focused {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
#snippetSearchField {
  display: inline;
  min-width: 150px;
}
@media (min-width: 768px) {
  #snippetSearchField {
    width: auto;
  }
}
#snippetSearchField.reset {
  border: none;
  background: none;
  background-color: transparent;
  box-shadow: none;
  transition: none;
}
#snippetSearchField::-webkit-input-placeholder {
  font-size: 0.85em;
  padding-top: 2px;
}
#snippetSearchContainer span {
  cursor: pointer;
}
span#personalSnippetCounter {
  color: #5e5e5e;
  background-color: #e3e3bb;
}
span#personalSnippetCounter.selected {
  border: 1px solid #5e5e5e;
}
span#publicSnippetCounter {
  margin-right: 8px;
  color: #5e5e5e;
  background-color: #fbcb9c;
}
span#publicSnippetCounter.selected {
  border: 1px solid #5e5e5e;
}
#username,
#signin {
  padding-right: 0;
}
.modal-backdrop {
  z-index: 7100;
}
.modal.signinModal {
  z-index: 7110;
}
.modal-dialog {
  width: 270px;
}
.modal-content {
  padding: 1em;
}
.modal-content h2 {
  margin-top: 0;
}
.signinButton {
  position: relative;
  height: 50px;
  margin-top: 8px;
  border-radius: 4px;
  border: none;
}
.signinButton i,
.signinButton p {
  float: left;
  line-height: 50px;
  color: #fff;
}
.signinButton i {
  font-size: 2.5em;
  padding-left: 15px;
}
.signinButton p {
  margin: 0 !important;
  padding-right: 15px;
  padding-left: 10px;
  font-size: 1.1em;
  font-size: 1.2em;
}
.signinButton.facebookButton {
  background-color: #3da1d4 !important;
}
.signinButton.facebookButton:hover {
  background-color: #2b8fc2 !important;
}
.signinButton.twitterButton {
  background-color: #67acdc !important;
}
.signinButton.twitterButton:hover {
  background-color: #4a9cd5 !important;
}
.signinButton.googleButton {
  background-color: #dd4b39 !important;
}
.signinButton.googleButton:hover {
  background-color: #c63422 !important;
}
