@import "../../variables.less";

#snippetPanel {
    display:inline-block;
    vertical-align: top;
}
    #snippetPanel.withTopicPanel {
        padding-left: 15px;
    }

#snippetContainer {
    //border: 1px solid red;
}
    .snippet {
        margin-bottom:5px;
        position:relative;
        //border:1px solid red;
    }
        .snippetSelector {
            position:absolute;
            left:0;
            min-width:35px;
            z-index:600;
        }
            .snippetSelector span {
                color:@icon-color;
            }
            .snippetSelector span:hover {
                color:@icon-hover-color;
            }

        .snippetContent {
            position:relative;
            padding-left:25px;
            border-radius:10px;
        }
            .snippetPopup {
                position:absolute;
                width:100%;
                height:100%;
                z-index:700;
                border-radius:6px;
                background: rgba(240, 240, 240, 0.3);
            }
                .snippetPopup div.layout {
                    float:left;
                    margin-left:5px;
                    background-color:#fff !important;
                    cursor: pointer;
                }
                    .snippetPopup button.layout.snip-it {
                        float:left;
                        color:#fff;
                        //font-family: 'Rochester', cursive;
                        font-family: cursive;
                        font-size:14px;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                    }
                        .snippetPopup .layout span {
                            color:darken(@icon-color, 15%);
                        }
                        .snippetPopup .layout.snippetRowLayout span {
                            margin-left:10px;
                        }
                        .snippetPopup .layout.snippetColLayout span {
                            margin-top:-2px;
                        }
                        .snippetPopup .layout.snippetEdit span {
                            margin-left:10px;
                        }
                        .snippetPopup .layout.snippetDelete span {
                            margin-top:-2px;
                            margin-left:10px;
                        }
                            .snippetPopup .layout.snippetColLayout span.active,
                            .snippetPopup .layout.snippetRowLayout span.active,
                            .snippetPopup .layout.snippetTitleOnlyLayout span.active {
                                color:@icon-color-active;
                            }
                            .snippetPopup div.layout span:hover {
                                color:darken(@icon-hover-color, 100%);
                            }
                .snippetPopup .snippetDelete {
                    margin-left:10px;
                }

            .snippetTitle {
                .make-row();
            }
                .snippetTitle .snippetTitleText {
                    .make-sm-column(12);
                    font-weight:bold;
                    margin: 4px 0;
                }
            .titleDiv {
                .make-sm-column(12);
            }
            .titleField {
                font-weight: bold;
                font-size: 14px;
                font-family: inherit;
            }

            /* Snippet description and code textarea fields */
            .snippetTextAreas {
                .make-row();
            }
                .snippetTextAreas textarea {
                    margin:5px 0;
                }

                /* Snippet description textarea field */
                .snippetDesText {
                    padding: 5px 0;
                }
                .snippetDesStyle {
                    font-family:@des-font-family;
                    font-size: small;
                    margin-bottom:0;
                    background-color:white;
                    line-height:1;
                }
                textarea.snippetDesStyle {
                    font-family:@des-font-family;
                    font-size: small;
                }
                    .snippetDesStyle li {
                        list-style-type: disc;
                    }
                    .snippetDesStyle pre {
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        background-color: transparent;
                        padding:0;
                        margin:0;
                        border:none;
                        line-height:1;
                        overflow:hidden;
                    }
                .snippetDes-col {
                    .make-sm-column(6);
                    padding-right: 5px;
                }
                    .snippetDes-col ul {
                        padding-left: 18px;
                    }
                .snippetDes-row {
                    .make-xs-column(12);
                }
                    .snippetDes-row ul {
                        padding-left: 18px;
                    }
                .snippetDes-col .CodeMirror,
                .snippetDes-row .CodeMirror, {
                    font-family:@des-font-family;
                    font-size: small;
                }

                /* Snippet code textarea field */
                .snippetCodeStyle .CodeMirror {
                    font-family:@code-font-family;
                    font-size: x-small;
                }
                    .snippetCode-col {
                        .make-sm-column(6);
                        margin-top:5px;
                        padding-left:5px;
                    }
                    .snippetCode-row {
                        .make-xs-column(12);
                    }
                .snippetCodeStyle.owned .CodeMirror {
                    background-color:@user-snippet-code-color;
                }
                .snippetCodeStyle.notOwned .CodeMirror {
                    background-color:@public-snippet-code-color;
                }
                    .snippetCodeStyle pre {
                        background-color: transparent;
                        padding:0;
                        margin:0;
                        border:none;
                        line-height:1;
                        overflow:hidden;
                    }

                    .CodeMirror {
                        height:auto;
                        min-height:44px;
                        border-radius: 4px;
                        outline: 0;
                        padding:0 5px;
                    }
                    .CodeMirror.isEditing {
                        border: 1px solid #cccccc;
                    }
                    .CodeMirror.CodeMirror-focused {
                        border: 1px solid #cccccc;
                        border-color: #66afe9;
                        outline: 0;
                        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                    }
                    .CodeMirror-scroll {
                        max-height:400px;
                        overflow-x:auto;
                    }
                    //.CodeMirror-scroll {
                    //    height:auto;
                    //    overflow-x:auto;
                    //    overflow-y:hidden;
                    //    max-height:none;
                    .CodeMirror-scroll {
                        [contentEditable=true]:empty:not(:focus):before{
                            content:attr(data-ph)
                        }
                    }
                    .CodeMirror-gutters {
                        background-color:@user-snippet-code-color;
                    }

            #snippetForm {
                z-index: 5100;
            }
            #snippetFormBar {
                .make-row();
            }
                #snippetFormBar #snippetFormBarContainer {
                    position:relative;
                    margin-bottom:5px;
                    .make-xs-column(12);
                }
                    .snippetSave, .snippetCancel, .snippetAccess, .languageSelect {
                        float:right;
                        height:24px;
                        border-radius: 4px;
                        font-size:11px;
                        vertical-align: top;
                    }
                    .snippetSave, .snippetCancel, .snippetAccess {
                        border:none;
                    }
                    .snippetSave, .snippetCancel {
                        color:#fff;
                        width:46px;
                        outline: none;
                    }
                    .snippetAccess {
                        margin-right:10px;
                        padding:0;
                        font-size: 14px;
                        color:@icon-color;
                        background-color:#fff;
                    }
                        .snippetAccess:hover {
                            color:darken(@icon-color, 9%);
                        }
                        .snippetAccess:focus {
                            outline:0;
                        }
                    .snippetCancel {
                        margin-right:10px;
                        background-color:@brand-danger;
                    }
                        .snippetCancel:hover {
                            background-color:darken(@brand-danger, 9%);
                        }
                    .snippetSave {
                        background-color:@icon-color-selected;
                    }
                        .snippetSave:hover {
                            background-color:darken(@icon-color-selected, 9%);
                        }
                    .languageSelect {
                        margin-right:10px;
                        padding-left:6px;
                        border-color: #ccc;
                        outline: none !important;
                        background: url(./components/snippetpanel/arrow-down.png) no-repeat right;
                        background-size: 34px 34px;
                        -webkit-appearance: none;
                    }


