<div class="snippet" ng-mouseleave="hideSnippetPopup()">
    <span ng-hide="isEditing">
        <!--<span ng-hide="isEditing && (editedSnippetId == snippet.id)">-->
        <div class="snippetSelector" ng-mouseenter="showSnippetPopup()">
            <a href="javascript:void(0)">
                <span class="glyphicon fa-2x"
                      ng-class="{'glyphicon-eye-open':   isPublicSnippet(snip.access),
                                 'glyphicon-eye-close': !isPublicSnippet(snip.access)}"></span>
            </a>
        </div>
        <div class="snippetContent">
            <snippet-popup></snippet-popup>

            <div class="snippetTitle">
                <h5 class="snippetTitleText">{{snip.title}}</h5>
                <div class="snippetTextAreas">
                    <div ng-show="layout != 'titlesonly'" ng-bind-html="getTrustedHtml(snip.description)"
                         class="snippetDesText snippetDesStyle"
                         ng-class="{'snippetDes-col':layout === 'column', 'snippetDes-row':layout === 'row'}">
                    </div>
                    <div ng-show="layout != 'titlesonly'" ng-bind-html="getTrustedHtml(snip.code)"
                         class="snippetCodeText snippetCodeStyle snippetCodeLayout"
                         ng-class="{'snippetCode-col':layout === 'column', 'snippetCode-row':layout === 'row',
                                    'owned':    isSnippetOwnedByCurrentUser(snip.creator_id),
                                    'notOwned':!isSnippetOwnedByCurrentUser(snip.creator_id)}">
                    </div>
                </div>
            </div>
        </div>
    </span>
    <!--<snippet-edit-form ng-show="isEditing && (editedSnippetId == snippet.id)"></snippet-edit-form>-->
    <snippet-edit-form ng-show="isEditing"></snippet-edit-form>
</div>
