@import "../../variables.less";

#snippetPanel {
    display:inline-block;
    vertical-align: top;
}
    #snippetPanel.withTopicPanel {
        padding-left: 15px;
    }

#snippetContainer {
    //border: 1px solid red;
}
    .snippet {
        margin-bottom:5px;
        position:relative;
        //border:1px solid red;
    }
        .snippetSelector {
            position:absolute;
            left:0;
            min-width:35px;
            z-index:600;
        }
            .snippetSelector span {
                color:@icon-color;
            }
            .snippetSelector span:hover {
                color:@icon-hover-color;
            }

        .snippetContent {
            position:relative;
            padding-left:25px;
            border-radius:10px;
        }
            .snippetPopup {
                position:absolute;
                width:100%;
                height:100%;
                z-index:700;
                border-radius:6px;
                background: rgba(240, 240, 240, 0.3);
            }
                .snippetPopup div.layout {
                    float:left;
                    margin-left:5px;
                    background-color:#fff !important;
                    vertical-align:center;
                    cursor: pointer;
                }
                    .snippetPopup button.layout.snip-it {
                        float:left;
                        color:#fff;
                        //font-family: 'Rochester', cursive;
                        font-family: cursive;
                        font-size:14px;
                        box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
                    }
                        .snippetPopup .layout span {
                            vertical-align:center;
                            color:darken(@icon-color, 15%);
                        }
                        .snippetPopup .layout.snippetColLayout span {
                            margin-top:-2px;
                            margin-left:10px;
                        }
                        .snippetPopup .layout.snippetEdit span {
                            margin-left:10px;
                        }
                        .snippetPopup .layout.snippetDelete span {
                            margin-top:-2px;
                            margin-left:10px;
                        }
                            .snippetPopup .layout.snippetColLayout span.active,
                            .snippetPopup .layout.snippetRowLayout span.active,
                            .snippetPopup .layout.snippetTitleOnlyLayout span.active {
                                color:@icon-color-active;
                            }
                            .snippetPopup div.layout span:hover {
                                color:darken(@icon-hover-color, 100%);
                            }
                .snippetPopup .snippetDelete {
                    margin-left:10px;
                }

            .snippetTitle {
                .make-row();
            }
                .snippetTitle .snippetTitleText {
                    .make-sm-column(12);
                    font-weight:bold;
                    margin: 4px 0;
                }
            .snippetTextAreas {
                .make-row();
            }
                .snippetDesText {
                    padding: 5px 0;
                }
                .snippetDesStyle {
                    font-family:@des-font-family;
                    font-size: small;
                    margin-bottom:0;
                    background-color:white;
                    line-height:1;
                }
                textarea.snippetDesStyle {
                    font-family:@des-font-family;
                    font-size: small;
                }
                    .snippetDesStyle li {
                        list-style-type: disc;
                    }
                    .snippetDesStyle pre {
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        background-color: transparent;
                        padding:0;
                        margin:0;
                        border:none;
                        line-height:1;
                        overflow:hidden;
                    }
                .snippetDes-col {
                    .make-sm-column(6);
                    padding-right: 5px;
                }
                    .snippetDes-col ul {
                        padding-left: 18px;
                    }
                .snippetDes-row {
                    .make-sm-column(12);
                }
                    .snippetDes-row ul {
                        padding-left: 18px;
                    }

                .snippetCode-col {
                    .make-sm-column(6);
                    padding-left:5px;
                }
                .snippetCode-row {
                    .make-sm-column(12);
                }
                    .snippetCodeText {
                        padding:5px;
                        border-radius:4px;
                        line-height:1;
                    }
                    .snippetCodeStyle {
                        font-family:@code-font-family;
                        font-size: x-small;
                    }
                        .snippetCodeText.snippetCodeStyle:empty {
                            background-color:#fff;
                            padding:0;
                        }
                        .snippetCodeStyle.owned {
                            background-color:@user-snippet-code-color;
                        }
                            .snippetCodeStyle.owned pre {
                                font-size: x-small;
                                background-color: transparent;
                                padding:0;
                                margin:0;
                                border:none;
                                line-height:1;
                                overflow:hidden;
                            }
                        .snippetCodeStyle.notOwned {
                            background-color:@public-snippet-code-color;
                        }
                            .snippetCodeStyle.notOwned pre {
                                font-size: x-small;
                                background-color: transparent;
                                padding:0;
                                margin:0;
                                border:none;
                                line-height:1;
                                overflow:hidden;
                            }

            #snippetForm {
                z-index: 5100;
            }
                #snippetFormBar {
                    .make-row();
                }
                    #snippetFormBar #snippetFormBarContainer {
                        position:relative;
                        margin-bottom:5px;
                        .make-xs-column(12);
                    }
                        #snippetSave, #snippetCancel, #snippetAccess {
                            float:right;
                            width:46px;
                            height:24px;
                            border:none;
                            border-radius: 4px;
                            color:#fff;
                            font-size:11px;
                            vertical-align: top;
                        }
                        #snippetSave, #snippetCancel {
                            outline: none;
                        }
                        #snippetAccess {
                            margin-right:10px;
                            font-size: 14px;
                            color:@icon-color;
                            background-color:#fff;
                        }
                            #snippetAccess:hover {
                                color:darken(@icon-color, 9%);
                            }
                            #snippetAccess:focus {
                                outline:0;
                            }
                        #snippetCancel {
                            margin-right:10px;
                            background-color:@brand-danger;
                        }
                            #snippetCancel:hover {
                                background-color:darken(@brand-danger, 9%);
                            }
                        #snippetSave {
                            background-color:@icon-color-selected;
                        }
                            #snippetSave:hover {
                                background-color:darken(@icon-color-selected, 9%);
                            }

                #snippetTitle {
//                    .make-row();
                }
                    #titleDiv {
                        .make-sm-column(12);
                    }
                        #titleField {
                            font-weight: bold;
                            font-size: 14px;
                            font-family: inherit;
                        }

                #formContent.snippetTextAreas {
//                    .make-row();
                }
                    #formContent.snippetTextAreas textarea {
                        margin:5px 0;
                    }
                    #snippetForm .CodeMirror {
                        height:auto;
                        min-height:30px;
                        max-height:400px;
                        margin:5px 0;
                        border-radius:4px;
                        border: 1px solid #cccccc;
                    }
                        #snippetForm .CodeMirror.CodeMirror-focused {
                            border-color: #66afe9;
                            outline: 0;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
                        }
                        #snippetForm .snippetDes-col .CodeMirror,
                        #snippetForm .snippetDes-row .CodeMirror, {
                            font-family:@des-font-family;
                            font-size: small;
                        }
                        #snippetForm .snippetCode-col .CodeMirror,
                        #snippetForm .snippetCode-row .CodeMirror, {
                            background-color:@user-snippet-code-color;
                            font-family:@code-font-family;
                            font-size: x-small;
                        }
//                        #snippetForm .snippetCode-row textarea {
                        #snippetForm .snippetCode-row textarea {
                            margin-top:0;
                        }
                        #snippetForm .CodeMirror-scroll {
                            height:auto;
                            overflow-x:auto;
                        }
                        #snippetForm .CodeMirror-scroll {
                            [contentEditable=true]:empty:not(:focus):before{
                                content:attr(data-ph)
                            }
                        }

