@import "../../variables.less";

#topicPanel {
    display:inline-block;
    position:relative;
    margin-top: 10px;
    max-height:800px;
    min-width:125px;
    background: #eee;
}
    #topicPanel .resizeSelector {
        position:absolute;
        top:50%;
        right:-8px;
        color:@icon-color;
    }
        #topicPanel .resizeSelector:hover {
            color:@icon-hover-color;
        }
        #topicPanel .resizeSelector:active {
            color:@icon-color-selected;
        }
    #topicPanel .panel-heading {
        position: relative;
        height:42px;
        padding:10px 5px;
    }
        #topicTitle {
            position:absolute;
            line-height:21px;
            font-weight:bold;
        }
        #topicAdd {
            position:absolute;
            right:5px;
            line-height:21px;
            font-size:1.5em;
        }
            #topicAdd span:hover {
                color:@icon-hover-color;
            }
            #topicAdd span.selected {
                color:@icon-color-selected;
            }
        #topicEdit {
            position:absolute;
            right:40px;
            line-height:21px;
        }
            #topicEdit span:hover {
                color:@icon-hover-color;
            }
            #topicEdit span.selected {
                color:@icon-color-selected;
            }
    #topicPanel .panel-body {
        padding:0;
        padding-right:12px;
        background-color:white;
    }
    #topicPanel #topicAddNameField,
    #topicPanel #topicEditNameField {
        height:28px;
        padding:5px;
    }
        #topicPanel #topicAddNameField::-webkit-input-placeholder {
            font-size: 0.85em;
        }
    #topicPanel .panel-body span.badge.sit-right {
        position:absolute;
        top:4px;
        right:3px;
    }
    #topicPanel ul {
        margin-bottom:0;
    }
        #topicPanel .topicItem {
            border-radius: 0;
            padding: 3px 0 3px 5px;
            border-right:none;
            border-left:none;
            overflow: hidden;
        }
            #topicPanel .topicItem:first-child {
                border-top:none;
            }
            #topicPanel .topicItem.active {
                color:white;
            }
        #topicPanel .topicItem a {
            padding: 0;
            color:inherit;
        }
            #topicPanel .topicItem a:hover, #topicPanel .topicItem a:focus {
                text-decoration: none;
            }
        #topicPanel .topicItem span.topicDelete {
            color:@brand-danger;
            cursor: pointer;
        }
        #topicPanel .topicItem span.invisible {
//            color:white;
//            opacity:0;
//            cursor: auto;
        }

#topicDeleteDialog {
    z-index:7110;
}

