<div id='topicPanel' class='panel panel-default'>
    <div class='panel-heading'>
        <span id="topicTitle">Topics</span>
        <a id="topicAdd" href="javascript:void(0)" ng-click="topicAdd()">
            <span class="fa fa-plus" ng-class="{selected:isAddingTopic}"></span></a>
        <a id="topicEdit" href="javascript:void(0)" ng-click="topicEdit()">
            <span class="fa fa-pencil" ng-class="{selected:isEditingTopic}"></span></a>
    </div>
    <div class='panel-body'>
        <ul class='list-group'>
            <topic-add-form></topic-add-form>

            <topic-edit-form></topic-edit-form>

            <topic ng-repeat="topic in topics"></topic>

            <topic-delete-dialog></topic-delete-dialog>
        </ul>
    </div>
</div>
