<div id='topicPanel' class='panel panel-default'>
    <div class='panel-heading'>
        <span id="topicTitle">Topics</span>
        <a id="topicAdd" href="javascript:void(0)" ng-click="topicAdd()">
            <span class="fa fa-plus"></span></a>
        <a id="topicEdit" href="javascript:void(0)" ng-click="topicEdit()">
            <span class="fa fa-pencil"></span></a>
    </div>
    <div class='panel-body'>
        <ul class='list-group'>
            <topic-add-form></topic-add-form>

            <form id="topicEditForm" name="topicEditForm" role="form" ng-submit="topicEditSubmit()" ng-show="false" novalidate>
                <input id="topicEditNameField" type="text" name="topicEditName" class="form-control"
                       maxlength="30" autocomplete="off" autofocus="on"
                       ng-model="topicEditString">
            </form>

            <topic ng-repeat="topic in topics"></topic>

            <topic-delete-dialog></topic-delete-dialog>
        </ul>
    </div>
</div>
