@import "../../variables.less";

#topicPanel {
    display:inline-block;
    position:relative;
    margin-top: 10px;
    width: @default-topicpanel-width;
    max-height:800px;
    min-width:125px;
    background: #eee;
}
    #topicPanel a.resizeSelector {
        position:absolute;
        display: block;
        top:50%;
        right:-11px;
        width:21px;
        height:14px;
        color:@icon-color;
    }
        #topicPanel a.resizeSelector:hover {
            color:@icon-hover-color;
        }
        #topicPanel a.resizeSelector:active {
            color:@icon-color-selected;
        }
        #topicPanel .leftResizeSelector,
        #topicPanel .rightResizeSelector {
            position:absolute;
            top:0;
            color:inherit;
        }
        #topicPanel .leftResizeSelector {
            left:0;
        }
        #topicPanel .rightResizeSelector {
            right:0;
        }
    #topicPanel .panel-heading {
        position: relative;
        height:42px;
        padding:10px 5px;
    }
        #topicTitle {
            position:absolute;
            line-height:21px;
            vertical-align:center;
            font-weight:bold;
        }
        #topicAdd {
            position:absolute;
            right:5px;
            line-height:21px;
            font-size:1.5em;
        }
            #topicAdd span:hover {
                color:@icon-hover-color;
            }
            #topicAdd span.selected {
                color:@icon-color-selected;
            }
        #topicEdit {
            position:absolute;
            right:40px;
            line-height:21px;
        }
            #topicEdit span:hover {
                color:@icon-hover-color;
            }
            #topicEdit span.selected {
                color:@icon-color-selected;
            }
    #topicPanel .panel-body {
        padding:5px 5px;
        padding-right:12px;
    }
    #topicPanel #topicAddNameField {
        padding:3px 6px;
    }
        #topicPanel #topicAddNameField::-webkit-input-placeholder {
            font-size: 0.85em;
        }
        #topicPanel #topicEditForm #topicEditNameField {
            padding:3px 6px;
        }
        #topicPanel .panel-body span.badge.sit-right {
            position:absolute;
            top:4px;
            right:5px;
        }
    #topicPanel ul {
        padding: 0;
    }
        #topicPanel ul li {
            //list-style-type: none;
            padding: 3px 5px;
            overflow: hidden;
        }
            #topicPanel ul li.active {
                color:white;
            }
        #topicPanel li a {
            padding: 0;
            color:inherit;
        }
            #topicPanel li a:hover {
                text-decoration: none;
            }
        #topicPanel li span.topicDelete {
            color:@brand-danger;
            cursor: pointer;
        }
        #topicPanel li span.invisible {
//            color:white;
//            opacity:0;
//            cursor: auto;
        }

#topicDeleteDialog,
#snippetDeleteDialog {
//    z-index:6010;
    z-index:7110;
}
